
<div>
    <table id="mytable" class="table table-striped table-bordered table-list">
        <thead>
            <th>Id</th>
            <th>Vreme Kupovine</th>
            <th>Tip karte</th>
            <th>Cena</th>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <td>{{ticket.Id}}</td>
            <td>{{ticket.VremeKupovine}}</td>
            <td>{{ticket.CenaStavke.Stavka.Naziv}}</td>
            <td>{{ticket.Cena}}</td>
          </tr>
        </tbody>
    </table>
    <a routerLink="/home">Go back</a>
</div>