<table class="table">
  <th>User email</th>
  <th>Image</th>
  <th>Account Status</th>
  <tr *ngFor="let account of accounts">
    <td>{{account.UserEmail}}</td>
    <td><img src="http://localhost:52295/{{account.ImageUrl}}" width="100" height="100"/></td> <!--SREDI URL ZA SLIKE-->
    <td>{{account.Status}}</td>
    <td rowspan="2"><button type="button" (click)="onVerifyClick(account.UserEmail)">Verify</button></td>
    <td><button type="button" (click)="onDenyClick(account.UserEmail)">Deny</button></td>
  </tr>
</table>

<hr>
<a class="nav-link" routerLink="/home">Home</a>