<div class="demo11" style="background-image: url(assets/traffic2.jpg)">
    <div class="d-flex justify-content-center">
      <a routerLink="/home">
        <img src="assets/whiteBusLogo.png" width="150" height="130" class="d-block mx auto" alt="">
      </a>
    </div>
  <div class="container">
      <h2 class="text-center"><b>Ticket timetable</b></h2>
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable11">
                  <div class="pricingTable-header">
                      <i class="fa fa-clock"></i>
                      <div class="price-value"> €1.50 <span class="month">per ticket</span> </div>
                  </div>
                  <h3 class="heading">Standard</h3>
                  <div class="pricing-content">
                      <ul>
                          <li><b>1h</b> duration</li>
                          <li><b>100+</b> bus lines</li>
                          <li><b>0%</b> save</li>
                          <li><b>10</b> subdomains</li>
                          <li><b>15</b> Domains</li>
                      </ul>
                  </div>
                  <div class="pricingTable-signup">
                      <a routerLink="/signUp">sign up</a>
                  </div>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="pricingTable11 green">
                  <div class="pricingTable-header">
                      <i class="fa fa-briefcase"></i>
                      <div class="price-value"> €7.50 <span class="month">per ticket</span> </div>
                  </div>
                  <h3 class="heading">Business</h3>
                  <div class="pricing-content">
                      <ul>
                          <li><b>24h</b> duration</li>
                          <li><b>100+</b> bus lines</li>
                          <li><b>15%</b> save</li>
                          <li><b>15</b> subdomains</li>
                          <li><b>20</b> Domains</li>
                      </ul>
                  </div>
                  <div class="pricingTable-signup">
                      <a routerLink="/signUp">sign up</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable11 blue">
                  <div class="pricingTable-header">
                      <i class="fa fa-crown"></i>
                      <div class="price-value"> €30.00 <span class="month">per ticket</span> </div>
                  </div>
                  <h3 class="heading">Premium</h3>
                  <div class="pricing-content">
                      <ul>
                          <li><b>30 days</b> duration</li>
                          <li><b>100+</b> bus lines</li>
                          <li><b>30%</b> save</li>
                          <li><b>20</b> subdomains</li>
                          <li><b>25</b> Domains</li>
                      </ul>
                  </div>
                  <div class="pricingTable-signup">
                      <a routerLink="/signUp">sign up</a>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="pricingTable11 red">
                  <div class="pricingTable-header">
                      <i class="fa fa-cube"></i>
                      <div class="price-value"> €150.00 <span class="month">per ticket</span> </div>
                  </div>
                  <h3 class="heading">Extra</h3>
                  <div class="pricing-content">
                      <ul>
                          <li><b>365 days</b> duration</li>
                          <li><b>100+</b> bus lines</li>
                          <li><b>40%</b> save</li>
                          <li><b>25</b> subdomains</li>
                          <li><b>30</b> Domains</li>
                      </ul>
                  </div>
                  <div class="pricingTable-signup">
                      <a routerLink="/signUp">sign up</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<hr>