<div class="container">
  <form (ngSubmit)="onSubmit()" #Form="ngForm">
   <div class="form-group">
      <label for="Saobracaj">Saobracaj</label>
      <select class="form-control" name="Saobracaj" [(ngModel)]="tipSaobracaja">
        <option *ngFor="let sao of tipoviSaobracaja" [value]="sao">{{sao}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Dan">Dan</label>
      <select class="form-control" name="Dan" [(ngModel)]="tipDana">
          <option *ngFor="let dan of tipoviDana" [value]="dan">{{dan}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Linija">Linija</label>
      <select class="form-control" name="Linija" [(ngModel)]="linija">
          <option *ngFor="let lin of linije" [value]="lin">{{lin}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn float-right">
    </div>
  </form>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let polazak of polasci">
      <b>{{polazak}}</b>
    </li>
  </ul>
  <a routerLink="/home">Go back</a>
</div> 

