<div class="container">
    <form class="form-horizontal" role="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h2>Registration</h2>
        <input type="text" hidden name="Id" ngModel #Id="ngModel">
        <div class="form-group">
            <!-- <label for="firstName" class="col-sm-3 control-label">First Name</label> -->
            <div class="col-sm-9">
                <input type="text" placeholder="Cenovnik" class="form-control" name="CenovnikID" ngModel required #CenovnikID="ngModel" autofocus>
            </div>
        </div>
        <div class="form-group">
            <!-- <label for="lastName" class="col-sm-3 control-label">Last Name</label> -->
            <div class="col-sm-9">
                <input type="text" placeholder="Stavka" class="form-control" name="StavkaID" ngModel required #StavkaID="ngModel" autofocus>
            </div>
        </div>
        <div class="form-group">
            <!-- <label for="email" class="col-sm-3 control-label">Email* </label> -->
            <div class="col-sm-9">
                <input type="email" placeholder="Cena" class="form-control" name="Cena" ngModel required #Cena="ngModel">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Apply</button>
    </form> <!-- /form -->
</div> <!-- ./container -->